{% extends "base.html" %}
{% block title %}IPA Keyboard{% endblock %}
{% block content %}
    <div class="push">
        <div class="container text-center">
        </div>
    </div>
    <div class="container">
        <div class="ipa-keyboard">
            <form>
                <textarea id="ipa-input" text="text" rows="5" class="form-control" placeholder="h&#x0259;'l&#x0259;&#x028A;!"></textarea>
                <div id="ipa-toolbar">
                    <div id="ipa-toolbar-nav" class="row">
                        <div class="col-md-8">
                            <button class="btn btn-danger">Clear</button>
                            <button class="btn btn-default"></button>
                            <button class="btn btn-default"></button>
                            <button class="btn btn-default"></button>
                        </div>
                        <div class="col-md-4">
                            <button id="submit" type="submit" value="Send" class="btn btn-info">Send</button>
                            <button class="btn btn-success pull-right">Save</button>
                            <button class="btn btn-primary pull-right">Print</button>
                        </div>
                    </div>
                    <div id="ipa-toolbar-keyboard" class="text-center">
                        {% for character in characters %}
                            <button class="btn btn-default btn-xs" type="button">{{ character.code|safe }}</button>
                        {% endfor %}
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $("#submit").click(function(){
                var stuff = $('form').serialize();
                var userIn = $("#userIn").val();
                alert(userIn);
            });

            $("#clear").click(function(){
                $('#userIn').val('');
            });

            $("#ipa-toolbar-keyboard button").click(function(){
                var character = $(this).html();
                $("#ipa-input").html($("#ipa-input").html() + character);
            });
        });
    </script>
{% endblock %}
