{% extends "base.html" %}
{% block title %}IPA Keyboard{% endblock %}
{% block head %}
<script>
    var english_keybindings = {{ english_keybindings|safe }};
</script>
{% endblock %}
{% block content %}
    <div id="wrapper">
        <div class="alert alert-info" role="alert">
            <div class="container">
                <p><strong>Attention:</strong> This site is still under heavy construction has more bugs than an exotic pet store. Pardon the mess, mind the gap and carry on, my wayward son.</p>
                <p><strong>To use hotkeys while typing:</strong> Hold shift and tap the bound key to cycle through associated phonetic symbols.</p>
            </div>
        </div>
        <div class="push">
            <div class="container text-center">
            </div>
        </div>
        <div class="container">
            <div class="ipa-keyboard">
                IPA Type: <span class="badge" id="ipa-indicator">off</span>
                <form>
                    <textarea id="ipa-input" text="text" rows="5" class="form-control" placeholder="h&#x0259;'l&#x0259;&#x028A;!"></textarea>
                    <div id="ipa-toolbar">
                        <nav id="ipa-toolbar-nav" class="navbar navbar-default">
                            <div class="col-md-8">
                                <ul class="nav nav-pills">
                                    <li id="toggle-english" role="presentation" class="active"><a href="">English</a></li>
                                    <li id="toggle-international" role="presentation"><a href="">International</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <button id="clear" class="btn btn-danger">Clear</button>
                                <button id="submit" type="submit" value="Send" class="btn btn-info">Send</button>
                                <button class="btn btn-success">Save</button>
                                <button class="btn btn-primary">Print</button>
                            </div>
                        </nav>
                        <div id="ipa-toolbar-keyboard" class="row text-center">
                            <div class="row ipa-keyboard-panel">
                                <div id="ipa-keyboard-english">
                                    {% include "ipa/panels/english.html" %}
                                </div>
                                <div id="ipa-keyboard-international">
                                    {% include "ipa/panels/international.html" %}
                                </div>
                                <div>
                                    {% for letter in uncategorized %}
                                        <button class="btn btn-default" type="button">{{ letter.code|safe }}</button>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="text-center"><a href="http://www.phon.ucl.ac.uk/home/wells/ipa-unicode.htm">MORE</a></div>
        </div>
        <div id="footer-push"></div>
    </div>
    <div id="footer" class="text-center">Created by 'tori Christensen &amp; Konstantin Farrell</div>
    <script src="{{ STATIC_URL }}js/keyboard_main.js"></script>
{% endblock %}
