{% extends "base.html" %}

{% block title %}IPA Vowels{% endblock %}

{% block content %}
<div id="list" class="container text-center">
    <h1>Vowels</h1>
    <table class="table table-hover">
        <tr>
            <td>ID</td>
            <td>VOWEL ID</td>
            <td>NAME</td>
            <td>CODE</td>
            <td>SYMBOL</td>
            <td>KEY</td>
            <td>ENGLISH</td>
            <td>HEIGHT</td>
            <td>FRONT</td>
            <td>ROUND</td>
            <td>TENSE</td>
        </tr>
        {% for character in vowels %}
            <tr>
                <td>{{ character.pk }}</td>
                <td>{{ character.vowel_id }}</td>
                <td>{{ character.name }}</td>
                <td>{{ character.code }}</td>
                <td>{{ character.code|safe }}</td>
                <td>{{ character.key_binding }}</td>
                <td>{{ character.english }}</td>
                <td>{{ character.height }}</td>
                <td>{{ character.frontness }}</td>
                <td>{{ character.roundness }}</td>
                <td>{{ character.tense }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
