<!DOCTYPE html>
<html>
<head>
    <script src="//cdn.research.pdx.edu/jquery/2.1.1/jquery-2.1.1.min.js"></script>
    <script src="//cdn.research.pdx.edu/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//cdn.research.pdx.edu/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/tori.css">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
</body>
